/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: red(255, 255, 255);
    /*background-image:simon background.jpeg;*/
    flex-direction: column;
    margin: 0;
}

.main {
    background-color:transparent(3, 255, 3);
    border-radius: 15px;
    box-shadow: 0 0 20px white(250, 250, 250, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 800px;
    text-align: center;
}

.heading {
    color: #fa1e4e;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: red;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 5px;
}



.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    background-image: url('backgrount2.jpg');
    background-size: 1300px;
}
.Userpass{
        width: 300px;
        height: 40px;
        margin: auto;
}
.subbtn{
    margin-top: 60px;
}
#user{
    padding-bottom: 0px;
}
#pass{
    padding-top: 30px;
}